
html, body {
    height: 100%;
  }
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/arcade-background.jpg');
    background-size: 100vw 100vh;
    font-family: 'Russo One', sans-serif;

  }

  .game-start {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 1020px;
  
  }
  
  .gif-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .gif-container img {
    margin-bottom: 20px;
  }

  #chun-li-start-screen {
    height: 220px;
    margin-bottom: 40px;
  }

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

canvas {
      border: 2px solid;
      border-radius: 4%;
      margin-top: 10px;
  }

#game-container {
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #7dceec;
    border: 5px solid #398bba;
    border-radius: 5%;
}

.logo {
  height: 15%;
  margin-top: 20px;
  margin-bottom: 10px;
}


.stats-header {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.stats-container {
    width: 100%;
    margin: 10px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
 
   width: 250px;
   height: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  .controls-container {
      display: flex;
      flex-direction: row;
      width: 80%;
      align-items: center;
      justify-content: center;
  }


  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: none;
  }

  .controls-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding: 5px;
    list-style: none;
  }

  .controls-container img {
    padding: 5px;
  }
